<!DOCTYPE html>
<html>
<head>
    <title>Verificador de Senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Verificador de Força de Senha</h1>

        <form method="POST">
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha" value="{{ senha }}" required>

<button type="button" onclick="toggleSenha()">👁️</button>

<button type="submit">Verificar</button>
        </form>

        {% if resultado %}
            <p style="color: {{ resultado.color }}">
                Força: {{ resultado.strength }}
            </p>

            <p>{{ resultado.time }}</p>

            {% if resultado.feedback %}
                <ul>
                    {% for item in resultado.feedback %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- BARRA DE FORÇA -->
            <div style="width: 300px; height: 20px; background: #ccc; margin: auto;">
                <div style="width: 
                    {% if resultado.strength == 'Fraca' %}30%
                    {% elif resultado.strength == 'Média' %}60%
                    {% else %}100%
                    {% endif %}
                    ; height: 100%; background: {{ resultado.color }};">
                </div>
            </div>

        {% endif %}
    </div>

<script>
function toggleSenha() {
    const input = document.getElementById("senha");

    if (input.type === "password") {
        input.type = "text";
    } else {
        input.type = "password";
    }
}
</script>

</body>
</html>